@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: "Press Start 2P";
  text-align: center;
  padding: 30px;
  background-color: #73CAE5 ; 
}

header {
  margin-bottom: 20px;
  font-size: 26px;
  color: white;
  font-weight: bolder;

}

.game-data {
  margin-top: 20px;
  margin-bottom: -20px;
}

.lifes {
  font-size: 12px;
}

canvas {
    border: 1px solid white;
    margin-top: 30px;
  }

.btn.btn-primary.btn-lg {
  margin-top: 25px;;
}