@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: "Press Start 2P";
  text-align: center;
  padding: 30px;
  background-color: #73CAE5 ; 
}

header {
  margin-bottom: 20px;
  font-size: 35px;
  color: white;
  font-weight: bolder;
  padding-top: 10px;
}

canvas {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .modal-body {
    font-size: 10px;
    text-align: left;
  } 

  .btn.btn-primary {
    font-size: 12px;
  }